*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
#.gitignore
.idea/
gradle.properties
gradle/
gradlew
gradlew.bat
#settings.gradle
